html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  text-align: center;
}

/* NAVBAR */

#branding{
  background-image: url('images/mainbgalt.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media only screen and (max-device-width: 767px){
  #branding{
    background-image: url('images/mainbgalt.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

@media only screen and (max-device-width: 1024px) {
  .service-wrapper :not(img){
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 1;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: 0.3s;
    color: white;
    border-style: solid;
    width: 70%;
    padding: 20px;
    font-size: 2.2rem;
  }
}

.navbar{
  background: transparent;
  padding: 1%;
}

.navbar-brand{
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.logoimg{
  width: 8%;
  /* position: relative; */
  margin-bottom: 10px;
}

.nav-item{
  padding: 0px 20px;
  /* font-size: 16px; */
}

nav .navbar-nav li a{
  color: #B76E79 !important;
}

.custom-toggler.navbar-light.navbar-toggler {
  border-color: rgb(255,102,203);
}
.custom-toggler .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.maincontainer{
  margin-top: 85px;
  padding: 50px 20px;
  text-align: left;
  margin-left: auto;
  margin-right: 90px;
  width: 30%;
}

.brandfont{
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: #DBB39D;
}

.brandsub{
  color: #B76E79;
}

.last{
  font-weight: 600;
}

/* ABOUT */

#About{
  background-image: url('images/aboutbg.jpg');
  background-size: cover;
  padding: 50px;
}

.mummy{
  width: 25%;
  border-radius: 100%;
  border-style: double;
  margin: auto;
  padding: 20px;
}

.info{
  background-color: rgba(255,255,255,0.7);
  border-radius: 25px;
  width: 70%;
  margin: 40px auto;
  font-size: 25px;
  padding: 20px;
}

.cont-title{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

/* SERVICES */

#servicesbg{
  background-image: url('images/servicesbg3.jpg');
  background-size: cover;
  padding: 100px 0;
}

.servicetitle{
  font-size: 90px;
}

.service-container{
  margin: 100px 30px;
}

.service-wrapper{
  display: inline-block;
  margin: 20px;
  position: relative;
}

.service-wrapper :not(img){
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1;
  text-align: center;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
  color: white;
  border-style: solid;
  width: 70%;
  padding: 20px;
  font-size: 2.2rem;
}

/* .service-wrapper:hover :not(img){
  opacity: 1;
}

.service-wrapper:hover img{
  filter: blur(2px) brightness(60%);
  transition: 1s;
} */

.serviceimg{
  max-height: 260px;
}

/* .servicetitle{
  wid
} */

.service-wrapper img{
  max-width: 100%;
  filter: blur(1px) brightness(60%);
}

/* GALLERY */




/* TESTIMONIALS */

#testimonials{
  background-image: url('images/testimg.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px 0;
}

.rev-text{
  margin: auto;
  width: 44%;
  font-family: "Open Sans";
  color: ivory;
}

.rev{
  /* margin: auto; */
  border-radius: 100%;
  width: 8%;
  margin: 20px
}

/* CONTACT */

#contact{
  padding: 20px;
  color: white;
  font-family: monospace;
}

.fab{
  font-size: 35px;
  color: white;
  margin: 30px 30px;
}
