html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  text-align: center;
}

/* NAVBAR */

#branding{
  background-image: url('images/mainbgalt.jpg');
  background-size: cover;
  height: 100vh;
}

.navbar{
  background: transparent;
  padding: 1%;
}

.nav-item{
  padding: 0 20px;
}

nav .navbar-nav li a{
  color: #B76E79 !important;
}


@media only screen and (max-device-width: 767px) {
  .navbar{
    position: absolute;
    text-align: left;
  }

  .nav-item{
    padding: 0 0 0 10px;
  }
}

.maincontainer{
  margin-top: 68px;
  padding: 50px 20px;
  text-align: left;
  margin-left: auto;
  margin-right: 90px;
  width: 30%;
}

.brandfont{
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 300;
  color: #DBB39D;
}

.brandsub{
  color: #B76E79;
}

.last{
  font-weight: 600;
}

@media only screen and (max-device-width: 767px){
  body #branding{
    text-align: center;
    background-image: url('images/bgmobile.jpg');
    height: 60vh;
  }

  .maincontainer{
    background-color: rgba(255,255,255, 0.3);
    margin: 0;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .brandfont{
    font-family: 'Oswald', sans-serif;
    font-size: 130px;
    font-weight: 400;
    color: #DBB39D;
    margin: 0;
  }

  .brandsub{
    color: #ffffff;
  }

  .last{
    font-weight: 600;
  } */

}

@media only screen and (max-device-width: 1024px) {
  .service-wrapper :not(img){
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 1;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: 0.3s;
    color: white;
    border-style: solid;
    width: 70%;
    padding: 20px;
    font-size: 2.2rem;
  }
}

/* ABOUT */

.aboutbg{
  background-image: url('images/about.bg.png');
  background-size: cover;
  padding: 100px 0;
}

.personal{
  background-image: ;
  background-size: cover;
  padding: 50px;
}

.mummy{
  width: 25%;
  border-radius: 100%;
  border-style: double;
  margin: auto;
  padding: 20px;
}

.info{
  background-color: rgba(255,255,255,0.69);
  border-radius: 25px;
  width: 70%;
  margin: 40px auto;
  font-size: 25px;
  padding: 20px;
}

/* SERVICES */

#servicesbg{
  background-image: url('images/servicesbg3.jpg');
  background-size: cover;
  padding: 100px 0;
  font-size: 90px;
}

.service-container{
  margin: 100px 30px;
}

.service-wrapper{
  display: inline-block;
  margin: 20px;
  position: relative;
}

.service-wrapper :not(img){
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  color: white;
  border-style: solid;
  width: 70%;
  padding: 20px;
  font-size: 2.2rem;
}

h2:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  transition: 1s;
}

/* .service-wrapper:hover{
  transform: scale(1.05);
  transition: 1s;
} */

.serviceimg{
  max-height: 260px;
}

.service-wrapper img{
  max-width: 100%;
  filter: blur(1px) brightness(60%);
}

/* GALLERY */

.gallerybg{
  background-image: url('images/gallery2.jpg');
  background-size: cover;
  padding: 100px 0;
}

.gallery{
  margin: 100px 30px 50px 30px;
}

.galleryimg{
  height: 250px;
  width: 250px;
  transition: 1s;
  padding: 10px;
  border-radius: 20px;
}

.galleryimg:hover{
  filter: grayscale(70%);
  transform: scale(1.1);
}

.btn{
  margin-bottom: 50px;
}


/* TESTIMONIALS */

.testimonialbg{
  background-image: url("images/testimonialbg.jpg");
  background-size: cover;
  padding: 100px 0;
}

#reviews{
  background-image: url('images/testimg.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px 0;
}

.rev-text{
  margin: auto;
  width: 44%;
  font-family: "Open Sans";
  color: ivory;
}

.rev{
  border-radius: 100%;
  width: 8%;
  margin: 20px
}

/* CONTACT */

#contact{
  padding: 20px;
  color: white;
  font-family: monospace;
}

.fab{
  font-size: 35px;
  color: white;
  margin: 30px 30px;
}
